<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs col-md-12">
    <%= f.input :company_name, label: 'Enter the company name:', required: true, placeholder: 'Company Name' %>
  </div>

  <div class="form-inputs col-md-6">
    <%= f.input :job_type, label: 'Choose the type of job', collection: ['Web Page', 'Web App', 'Other'], required: true, placeholder: 'Please select the type of job' %>
  </div>

  <div class="form-inputs col-md-6">
    <%= f.input :due_date, label: 'Due Date', required: true, as: :date, order: [:day, :month, :year] %>
  </div>

  <div class="form-inputs col-md-12">
  <%= f.input :urgent, label: 'Is this urgent?' %>
  </div>

  <div class="form-inputs col-md-9">
  <%= f.input :contact_info, required: true, placeholder: 'Phone/Email/Other' %>
  </div>

  <div class="form-inputs col-md-2">
  <%= f.input :price, placeholder: '$' %>
  </div>

  <div class="form-inputs col-md-12">
  <%= f.input :description, required: true , placeholder: 'Give a bit of info about the job' %>
  </div>

  <div class="form-actions col-md-1">
    <%= f.button :submit %>
  </div>
<% end %>
<br>
