<p id="notice"><%= notice %></p>

<h1>Available Jobs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Job Type</th>
      <th>Due</th>
      <th>Urgent</th>
      <th>Payment</th>
      <th >Job Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td class="border2"><%= job.company_name %></td>
        <td class="border2"><%= job.job_type %></td>
        <td class="border2"><%= time_tag(job.due_date) %></td>
        <td class="border2"><%= job.urgent %></td>
        <td class="border2"><%= number_to_currency(job.price) %></td>
        <td class="border2"><%= truncate(job.description, :length => 50) %></td>
        <td class="border2"><%= link_to 'View Job', job, class: 'btn btn-lg btn-success' %></td>
        <!-- <td><%= link_to 'Edit', edit_job_path(job) %></td> -->
        <td class="border2"><%= link_to 'Delete Job', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-lg btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Job', new_job_path, class: 'btn btn-lg btn-primary' %>
