<p id="notice"><%= notice %></p>

<div class="border">
  <p>
    <strong>Company Name:</strong>
    <%= @job.company_name %>
  </p>

  <p>
    <strong>Job Type:</strong>
    <%= @job.job_type %>
  </p>

  <p>
    <strong>Due:</strong>
    <%= time_tag(@job.due_date) %>
  </p>

  <p>
    <strong>Urgent:</strong>
    <%= @job.urgent %>
  </p>

  <p>
    <strong>Contact Info:</strong>
    <%= @job.contact_info %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= number_to_currency(@job.price, :unit => '$', :precision => 2) %>
  </p>

  <p>
    <strong>Job Description:</strong>
    <%= @job.description %>
  </p>
</div>

<div class="row formbtn">
  <div class="col-md-6">
    <%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-warning btn-lg' %>
  </div>
  <div class="col-md-6">
    <%= link_to 'Back', jobs_path, class: 'btn btn-warning btn-lg' %>
  </div>
</div>
